.loading__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #050300;

  &-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-footerTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-footer {
    width: 100%;
    height: 100%;
    max-height: 200px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    h3 {
      font-family: 'IBM Plex';
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      letter-spacing: 0.05em;
      color: #ffffff;
    }
  }

  .progress {
    position: relative;
  }

  progress::-webkit-progress-value {
    -webkit-appearance: none;
    background: #fff !important;
  }

  progress::-moz-progress-bar {
    -webkit-appearance: none;
    background: #fff !important;
  }

  #progress_bar {
    height: 0.2em;
    z-index: 1000;
    position: relative;
    width: 100%;
    background-color: #ffffff !important;
  }

  hr {
    margin: 0;
    position: absolute;
    top: 13px;
    width: 100%;
    z-index: 0;
    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 5px;
  }
}
